<!DOCTYPE html>
<html>

    <head>
        <title>Change password - WarpWA</title>
        {{>global-html-head}}
    </head>

    <body>
        <h1>Change password</h1>
        <form method="POST">
            <input name="code" type="hidden" required x-data x-init="$el.value = new URLSearchParams(window.location.search).get('code')"/>
            <label for="password">New password</label>
            <input name="new_password" type="password" required autocomplete="new-password"/>
            <button type="submit">Submit</button>
        </form>
        <p>{{ error }}</p>
    </body>

</html>
