<!DOCTYPE html>
<html>

    <head>
        <title>Log in - WarpWA</title>
        {{>global-html-head}}
    </head>

    <body>
        <h1>Log in</h1>
        <form method="POST">
            <label for="username_or_email">Username or email</label>
            <input name="username_or_email" type="text" required placeholder="e.g.: johndoe" autocomplete="username"/>
            <label for="password">Password</label>
            <input name="password" type="password" required autocomplete="password"/>
            <button type="submit">Submit</button>
        </form>
        <p>{{ error }}</p>
    </body>

</html>
