<!DOCTYPE html>
<html>

    <head>
        <title>Sign up - WarpWA</title>
        {{>global-html-head}}
    </head>

    <body>
        <h1>Sign up</h1>
        <form method="POST">
            <label for="username">Username</label>
            <input name="username" type="text" required placeholder="e.g.: johndoe" autocomplete="username"/>
            <label for="email">email</label>
            <input name="email" type="email" required placeholder="e.g.: johndoe@example.com" autocomplete="email"/>
            <label for="password">Password</label>
            <input name="password" type="password" required autocomplete="new-password"/>
            <button type="submit">Submit</button>
        </form>
        <p>{{ error }}</p>
    </body>

</html>
