<!DOCTYPE html>
<html>

    <head>
        <title>Warp PWA - WarpWA</title>
        {{>global-html-head}}
    </head>

    <body>
        <h1>Pages</h1>
        <ul>
            <li>
                <a href="/signup">Sign up</a>
            </li>
            <li>
                <a href="/login">Log in</a>
            </li>
        </ul>
    </body>

</html>
