<link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/commons/c/c4/Cdemu_192x192.png" />
<link rel="manifest" href="/manifest.json" />
<link rel="stylesheet" href="/css/pico-1.5.9.min.css" type="text/css" />
<link rel="stylesheet" href="/css/warp-serve.css" type="text/css" />
<script defer src="/js/alpine.min.js"></script>
<script defer type="module" src="/js/register-service-worker.js"></script>